<nav class="navbar navbar-dark navbar-expand-lg bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">my comics list</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            type comics
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item <% if(typeof type !== "undefined") { %> <%= type == "manga" ? "active" : "" %> <% } %>" href="/type/manga">manga</a></li>
            <li><a class="dropdown-item <% if(typeof type !== "undefined") { %> <%= type == "manhua" ? "active" : "" %> <% } %>" href="/type/manhua">manhua</a></li>
            <li><a class="dropdown-item <% if(typeof type !== "undefined") { %> <%= type == "manhwa" ? "active" : "" %> <% } %>" href="/type/manhwa">manhwa</a></li>
          </ul>
        </li>
      </div>
      
      <form target="<%= getBaseUrl() %>/search/" method="get" class="d-flex ms-auto position-relative" id="searchForm" role="search">
        <input id="search" name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="<% if(typeof query !== "undefined") { %> <%= query %> <% } %>">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>